.yzt-loading-mask {
    position: absolute;
    z-index: 10000;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    transition: opacity .3s;
    .yzt-loading-spinner {
        top: 50%;
        margin-top: -25px;
        width: 100%;
        text-align: center;
        position: absolute;
        .circular {
            height: 42px;
            width: 42px;
            animation: loading-rotate 2s linear infinite;
        }
        .path {
            animation: loading-dash 1.5s ease-in-out infinite;
            stroke-dasharray: 90, 150;
            stroke-dashoffset: 0;
            stroke-width: 2;
            stroke: #EE7F25;
            stroke-linecap: round;
        }
        .yzt-loading-text {
            color: #EE7F25;
            margin: 3px 0;
            font-size: 14px;
        }
    }
}

.is-fullscreen {
    position: fixed;
}

.yzt-loading-fade-enter,
.yzt-loading-fade-leave-active {
    opacity: 0;
}

@keyframes loading-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading-dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -40px;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -120px;
    }
}