<div class="body-cent">
    <div class="content">
        <div class="left">
            <img [src]="_imgLogo" />
        </div>
        <div class="right">
            <img [src]="_img" />
            <div class="desc" [innerHTML]="_desc"></div>
            <ng-template #defaultActions>
                <button nz-button [routerLink]="['/']" [nzType]="'primary'">返回首页</button>
                <ng-content></ng-content>
            </ng-template>
            <div class="actions" *ngIf="actions; else defaultActions">
                <ng-template [ngTemplateOutlet]="actions"></ng-template>
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>